header{
  background: linear-gradient(90deg, #FEA6D8 0%, #D0B2E9 49.5%, #58C1F1 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
  li{
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-size: 90px;
  line-height: 121px;
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  
  .box{  
  float: right;
  width: 40%;
  height: 779px;
  background: #FCD0E6;
  }
  
  
  .box2{
  width: 70%;
  height: 529px;
  background: #FDE4E7;
  }
  
  
  .box3{
  width: 70%;
  height: 630px;
  background: #FFC4F5;
  }
  
  
  .textbox{
  position: absolute;
  width: 986px;
  height: 357px;
  margin-left: 10%;
  margin-top: 250px;
  background: linear-gradient(180deg, rgba(255, 215, 219, 0.71) 35.57%, #FFA8F0 100%);
  box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  }
  
  
  h1{
  justify-content:center;
  padding: 30px;
  font-family: 'Inter';
  font-style: italic;
  text-align: center;
  color: #000000;
  }
  
  
  .image{
  position: absolute;
  margin-left: 75%;
  margin-top: 250px;
  width: 378px;
  height: 357px;
  background: url(kontrol.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(10px 10px 4px rgba(0, 0, 0, 0.25));
  border-radius: 30px;
  }
  
  .box4{  
      float: right;
      margin-left: 100%;
      width: 30%;
      height: 778px;
  
      background: #DEB0E6;
      }
  
  .box5{
  
  width: 100%;
  height: 262px;
  background: #ACB7ED;
  
  }
  
  .box6{
  
  float: right;
  width: 10%;
  height: 615px;
  
  background: #8DB1EE;
  
  }
  
  
  .box7{
      position: absolute;
  margin-left: 40%;
  width: 50%;
  height: 751px;
  
  background: #99B9EE;
  
  }
  
  .box8{
  
  position: absolute;
  width: 40%;
  height: 751px;
  
  background: #8bb7e9;
  
  }
  
  body{
      background: #b52e2e;
  }
  
  .textbox2{
  position: absolute;
  width: 70%;
  height: 404px;
  
  background: linear-gradient(94.29deg, #ECC5F5 9%, #8DB1EE 87.85%);
  box-shadow: 5px 5px 4px 3px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  margin-left: 15%;
  
  }
  
  h2{
  justify-content:center;
  padding: 30px;
  font-family: 'Inter';
  font-style: italic;
  text-align: center;
  color: #000000;
  
  }
  
  
  .headbox{
  
  
  position: absolute;
  margin-left: 2%;
  margin-top: 30px;
  width: 96%;
  height: 102px;
  
  background: #F6C6FA;
  border-radius: 20px;
  
  }
  
  .logs{
      margin-left: 80%;
      margin-top: 35px;
  }
  
  form {
      position: relative;
      width: 300px;
      margin: 0 auto;
    }
    input {
      width: 100%;
      height: 42px;
      padding-left: 10px;
      border: 2px solid #e4a2e2;
      border-radius: 5px;
      outline: none;
      background: #F9F0DA;
      color: #9E9C9C;
    }
    .but {
      position: absolute; 
      top: 0;
      right: 0px;
      width: 42px;
      height: 42px;
      border: none;
      background: #e4a2e2;
      border-radius: 0 5px 5px 0;
      cursor: pointer;
    }
    .but:before {
      content: "\f002";
      margin-left: 30%;
      font-family: FontAwesome;
      font-size: 16px;
      color: #f9e8f7;
    }
  
    #laiks {
      font-family: 'Inter';
      font-style: italic;
      color: #020202;
      font-size: 25px;
      text-align: center;
      padding-top: 1px;
      
    }
    #data {
    
      color: #000000;
      font-family: 'Inter';
      font-style: italic;
      font-size: 25px;
      text-align: center;
      padding-top: 3px;
      padding-bottom: 3px;
    }
    .laiks1{
      background: linear-gradient(180deg, rgba(160, 217, 240, 0.71) 35.57%, #FFA8F0 100%);
        /* background-color: #e9a4d4; */
        padding: 25px;
        max-width: 250px;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        margin: 0 auto;
        margin-left: 10px;
        position: fixed;
        bottom: 10px;
    
    }
  
img{
  position: absolute;
  margin-top: 80px;
  width: 1500px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
